amqp==2.6.0
asgiref==3.2.7
beautifulsoup4==4.9.1
billiard==3.6.3.0
celery==4.4.2
certifi==2020.4.5.2
chardet==3.0.4
Django==3.0.6
django-celery-results==1.2.1
django-constance==2.6.0
django-filebrowser==3.13.1
django-grappelli==2.14.2
django-picklefield==2.1.1
filetype==1.0.7
flatbencode==0.2.1
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.1
jsonfield==3.1.0
kombu==4.6.10
Pillow==7.1.2
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
sqlparse==0.3.1
torf==3.0.1
urllib3==1.25.9
vine==1.3.0
zipp==3.1.0

pip~=20.1.1
setuptools~=47.1.1
netius==1.17.58