<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                {#            <li class="dropdown">#}
                {#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                {#              <ul class="dropdown-menu">#}
                {#                <li><a href="#">Action</a></li>#}
                {#                <li><a href="#">Another action</a></li>#}
                {#                <li><a href="#">Something else here</a></li>#}
                {#                <li role="separator" class="divider"></li>#}
                {#                <li class="dropdown-header">Nav header</li>#}
                {#                <li><a href="#">Separated link</a></li>#}
                {#                <li><a href="#">One more separated link</a></li>#}
                {#              </ul>#}
                {#            </li>#}
            </ul>
            {#          <ul class="nav navbar-nav navbar-right">#}
            {#            <li><a href="../navbar/">Default</a></li>#}
            {#            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>#}
            {#            <li><a href="../navbar-fixed-top/">Fixed top</a></li>#}
            {#          </ul>#}
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <p> - 查看当前版本</p>
        <p> - 查看服务状态</p>
        <p> - 拉取最新代码</p>
        <p> - 重新启动服务</p>
m   </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">当前代码版本</h3>
        </div>
        <div class="panel-body">
            {{ current_version | linebreaks }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">升级</h3>
        </div>
        <div class="panel-body">
            <!-- 1.url 选择 -->
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    选择一个
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- todo 2.url 输入 -->
            <!-- todo 3.zip文件上传 -->
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">服务启动状态</h3>
        </div>
        <div class="panel-body">
            {% if system_check_info_err %}
                <p><span class="label label-danger">获取失败</span>{{ system_check_info_err }}</p>
            {% else %}
                <table class="table .table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">服务</th>
                        <th scope="col">状态信息</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, value in check_info.items %}
                        <tr>
                            <th scope="row">{{ key }}</th>
                            <td>{{ value }}</td>
                            <td>操作</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div> <!-- /container -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
