<!DOCTYPE html>
<html>
<head>
    <title>发种🐔</title>
{#    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
</head>
<body>
<div id="app">
    <h1>欢迎使用发种🐔</h1>
    <a href="/admin">走你</a>
{#    {{ message }}#}
</div>

{#<script>#}
{#    let app = new Vue({#}
{#        el: '#app',#}
{#        data: {#}
{#            version: 'v0.1',#}
{#            message: 'Hello Vue!',#}
{#            task_list: [],#}
{#        },#}
{#        methods: {#}
{#            load_task_list: function (event) {#}
{##}
{#            }#}
{#        }#}
{#    });#}
{#</script>#}
</body>
</html>
